.left-side-bar {
  padding: 10px 0px;
  width: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  height: calc(100vh - 70px);
  z-index: 0px;
  overflow: hidden;
}
.left-side-bar .license p {
  padding: 10px 15px;
  font-size: 10px;
  font-style: italic;
  color: #333;
  text-align: center;
}
.left-side-bar:hover {
  width: 280px;
  transition: all 0.4s;
  box-shadow: 0px 0px 14px -9px #000;
  position: relative;
}
.license p:hover {
  display: block;
}
